<a href="https://colab.research.google.com/github/BARARTH26/assignment/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hi, My Name is PERIYASAMY.P, From Coimbatore(TAMILNADU).

This is day 3- ASSIGNMENT 1

In [39]:
num = float(input("enter the number"))
if num >= 1000:
  if num > 1000 and num < 5000:
    print("Bring it further down to 1000 ft")
  else:
    print("Turn around and Attempt later")
else:
  print("Land the Plane")

enter the number500
Land the Plane


This is day 3- ASSIGNMENT 1

In [86]:
lower = 1
upper = 200
for num in range(lower,upper):
   if num >= 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199